<div id="videocontainer">
<div id="overlay">
    <a class="btn" href="javascript:void(0)" id="muteButton"><i id="muteIcon" class="fa fa-volume-off"></i></a>
</div>
<video autoplay loop muted poster="img/powerlines.jpg" id="bgvid">
<source src="video/powerlines-small.webm" type="video/webm">
<source src="video/powerlines-small.mp4" type="video/mp4">
</video>
</div>

<div class="container-fluid">
<div>

<h1 >DARK FIBER</h1>
<h3 >MARISSA LEE BENEDICT<br>and DAVID RUETER</h2>
<div>Chicago - <a href="http://chicagoartistscoalition.org">CAC</a> - Mar 06 2015</div>
<br>   
<div>info@darkfiber.io</div>
<div><a href="#los"><i>Line of Sight</i> film series</a></div>

</div>    
<div class="los">

<a id="los"><h2>LINE OF SIGHT</h2></a>
Stay tuned for more details...
</div>
</div>
