<video autoplay loop muted poster="img/powerlines.jpg" id="bgvid">
<source src="video/powerlines-small.webm" type="video/webm">
<source src="video/powerlines-small.mp4" type="video/mp4">
</video>
<div id="overlay">
    <a class="btn" href="javascript:void(0)" id="muteButton"><i id="muteIcon" class="fa fa-fw fa-volume-off"></i></a>
</div>
<div class="container">


<h1 class="title">DARK FIBER</h1>
<h2 class="subtitle">Marissa Lee Benedict | David Rueter</h2>
<div>Chicago - <a href="http://chicagoartistscoalition.org">CAC</a> - Mar 06 2015</div>
<div>Brussels - Date TBD</div>
<br>   
<div>info@darkfiber.io</div>

</div>
